
latexbook/*.aux
latexbook/*.bbl
latexbook/*.bcf
latexbook/*.blg
latexbook/*.idx
latexbook/*.ilg
latexbook/*.ind
latexbook/*.log
latexbook/*.maf
latexbook/*.mtc
latexbook/*.mtc*
latexbook/*.bak
latexbook/*.run.xml
latexbook/*.gz
latexbook/*.synctex.gz
latexbook/*.bib







